# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Node
node_modules/
.next/
out/
build/
dist/

# Env files
backend/.env
frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# FFmpeg binaries
backend/*.exe